#java
*.class

#package file
*.war
*.ear
*.zip
*.tar.gz
*.rar
#maven ignore
target/
build/

**/target
.mvn
mvnw
mvnw*
*.iml

#eclipse ignore
.settings/
.project
.classpatch

#Intellij idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

01-黑马课程资料/
03-高级篇/
spring6_log/
03-服务保护和分布式事务/
01-微服务/
itcast/
小猫爱学/
210道面试题.pdf
nacos-server-2.1.0.tar.gz